.App{
    margin: auto;
    text-align: center;
}
/* .btn{
    border: none;
    border-radius: 4px;
    background-color: rgb(18, 45, 103);
    color: rgb(220, 203, 21);
    margin: 10px;
    font-size: larger;
    padding: 10px;
} */